:host {
  display: block;
}

.mat-chip-list {
  display: block;
  margin-top: 15px;
}

.mat-standard-chip.chip-with-image {
  padding-left: 0;

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 8px;
  }
}