@import "variables";

:host {
  display: block;
  background-color: mat-color($app-background, background);
  background-attachment: fixed;
  background-size: cover;
}

:host-context(.be-light-mode) :host {
  background-image: url("/client/assets/images/backstage/light-bg.svg");
}

:host-context(.be-dark-mode) :host {
  background-image: url("/client/assets/images/backstage/dark-bg.svg");
}

:host::ng-deep .backstage-centered-content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: calc(100vh - #{$material-navbar-height});
}

:host::ng-deep h1 {
  font-size: 4.8rem;
  margin: 0 0 10px;
  text-align: center;
}

:host::ng-deep h2 {
  text-align: center;
  margin: 0 0 30px;
  font-size: 1.8rem;
}

:host::ng-deep .backstage-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

:host::ng-deep .backstage-action-button {
  min-width: 140px;
  height: 48px;
  line-height: 48px;
  border-radius: 500px;
}
