@import "variables";

:host {
  display: block;
}

.inline-form {
  display: flex;

  .actions {
    flex-shrink: 0;
    color: mat-color($app-foreground, icon);
    margin-left: 20px;
  }
}

.full-form {
  overflow: hidden;
}

.full-form-container {
  display: flex;

  &.inside-album {
    margin: 25px 100px 0 60px;
  }
}

.fields-container {
  flex: 1 1 auto;
  margin-left: 20px;
  min-width: 0;
}

.cdk-drag-handle {
  flex-shrink: 0;
  color: mat-color($app-foreground, icon);
  margin-right: 20px;
}

.active {
  color: mat-color($app-accent, default);
}

track-upload-header {
  margin-bottom: 15px;
}

.drag-handle {
  cursor: move;
}

.left-column-action-button {
  margin-top: 15px;
  width: 100%;
  line-height: 40px;
}

@media only screen and (max-width: $medium) {
  .full-form-container {
    display: block;
  }

  .left-column {
    max-width: 220px;
    margin: auto;
    margin-bottom: 25px;
  }

  .fields-container {
    margin-left: 0;
  }
}
