@import "variables";

:host {
  display: block;
}

.links-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid mat-color($app-foreground, divider);
  margin: 10px 0;
  padding-bottom: 10px;
}

.add-link-button {
  margin-left: auto;
}

.inline-link-container {
  align-items: center;
}

.remove-link-button {
  color: mat-color($app-warn, default);
}
