@import "variables";

.title {
  font-size: 1.8rem;
  color: mat-color($app-foreground, secondary-text);
  margin-left: 10px;
}

.status-col {
  text-transform: capitalize;
}

a {
  color: currentColor;
}
