<div class="header">
    <div class="title" trans>Blocked Artist</div>
    <div class="subtitle" trans>Artists that should be blocked on the site (they will not be searchable, indexable, or appear on the site in any other way.</div>
</div>

<form class="body many-inputs" (submit)="saveSettings()" ngNativeValidate>
    <div class="input-container">
        <input type="text" enterKeybind (blur)="addBlockedArtist()" [(ngModel)]="blockedArtist" name="blockedArtist" placeholder="+Artist Name" trans-placeholder>

        <mat-chip-list class="blocked-artists">
            <mat-chip class="blocked-artist" *ngFor="let blockedArtist of blockedArtists" [selectable]="false" (removed)="removeBlockedArtist(blockedArtist)">
                <span>{{blockedArtist}}</span>
               <mat-icon svgIcon="cancel" matChipRemove></mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <button mat-raised-button color="accent" class="update-button" type="submit" [disabled]="loading$ | async" trans>Update</button>
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading$ | async"></mat-progress-bar>
</form>