artists-links-list {
  app-marquee {
    margin-left: -8px;
  }

  .artist-link-wrap {
    display: flex;
    margin-left: 8px;
    align-items: center;

    .artist-link {
      text-transform: capitalize;
      color: inherit;
    }
  }
}
