<div class="datatable responsive-table">
    <datatable-header pluralResourceName="artists">
        <ng-container leftContent>
            <a mat-raised-button color="accent" routerLink="/admin/backstage/artists/new" *ngIf="currentUser.hasPermission('artists.create')" headerActions trans>Add</a>
            <button mat-button type="button" *ngIf="settings.get('spotify_is_setup')" (click)="openImportMedialModal()" trans>Import</button>
        </ng-container>
        '<button rightContent mat-raised-button color="accent" (click)="maybeDeleteSelectedArtists()" *ngIf="currentUser.hasPermission('artists.delete')" trans>Delete Selected</button>
    </datatable-header>
    <table class="material-table">
        <thead>
        <tr>
            <th table-header-checkbox></th>
            <th trans>Artist</th>
            <th trans>Bitclout Username</th>
            <th trans>Number of Albums</th>
            <th table-sort-header="plays" trans>Total Plays</th>
            <th table-sort-header="views" trans>Page Views</th>
            <th table-sort-header="updated_at" trans>Last Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artists$ | async">
            <td [table-body-checkbox]="artist.id"></td>
            <td>
                <div class="column-with-image">
                    <media-image [media]="artist"></media-image>
                    <a [routerLink]="urls.artist(artist)" class="link" target="_blank">{{artist.name}}</a>
                </div>
            </td>
            <td data-label="Bitclout Username">{{artist.bitclout}}</td>
            <td data-label="Number of Albums">{{artist.albums_count}}</td>
            <td data-label="Popularity">{{artist.plays | number}}</td>
            <td data-label="Page Views">{{artist.views | number}}</td>
            <td data-label="Last Updated">{{artist.updated_at | formattedDate}}</td>
            <td class="edit-column">
                <a mat-icon-button [routerLink]="urls.editArtist(artist.id, true)" *ngIf="currentUser.hasPermission('artists.update')" [matTooltip]="'Edit artist' | trans">
                    <mat-icon svgIcon="edit"></mat-icon>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <no-results-message svgImage="music.svg" *ngIf="datatable.paginator.noResults$ | async">
        <span primary-text>No artists have been created yet</span>
    </no-results-message>
    <datatable-footer></datatable-footer>
</div>
