@import "src/scss/variables";

:host {
  display: block;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
}

upload-image-control {
  margin: 15px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.input-container {
  input, select, ::ng-deep .fake-input {
    height: 55px;
  }
}

.speed-up-container {
  padding: 15px 0 30px 0;
  border-bottom: 1px solid mat-color($app-foreground, divider-lighter);
}

.speed-up-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.speed-up-button {
  margin-right: 10px;
}

.facebook-btn {
  background: $facebook-color;
}

.twitter-btn {
  background: $twitter-color;
}

.social-icon {
  margin-right: 5px;
}

upload-progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attached-verifications:not(:empty) {
  position: relative;

  &:not(:empty) {
    margin-top: 20px;
  }
}

.verification {
  display: flex;
  align-items: center;
  border: 1px solid mat-color($app-foreground, divider);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.verification-details {
  overflow: hidden;
}

.verification-url {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.verification-img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 10px;
}

.verification-name {
  font-size: 1.3rem;
  color: mat-color($app-foreground, secondary-text);
  text-transform: capitalize;
}

.remove-verification {
  margin-left: auto;
}

