@import "variables";

.tab-body {
  padding-top: 20px;
}

.selection-list-title {
  font-size: 1.6rem;
}

.selection-list-description {
  margin-top: 4px;
}

.selection-list .list-item-header {
  padding-left: 0;
  user-select: none;
}

.cdk-drag-handle {
  margin-right: 5px;
}

.cdk-drag-preview {
  font-size: 1.6rem;
  padding: 12px;
  border-radius: 4px;
  background: mat-color($app-background, card);
  border: 1px solid mat-color($app-foreground, divider);
}
