<div class="modal-header">
    <h2 class="modal-title" mat-dialog-title [transValues]="{resource: resourceName}" trans>
        Import :resource
    </h2>
    <button type="button" (click)="close()" class="close-button no-style" tabindex="-1">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<form [formGroup]="form" (ngSubmit)="import()" ngNativeValidate>
    <div class="many-inputs" mat-dialog-content>
        <div class="input-container spotify-id-container">
            <label for="import_media_spotify_id" [transValues]="{resource: resourceName}" trans
                >Spotify :resource ID</label
            >
            <input
                type="text"
                id="import_media_spotify_id"
                formControlName="spotifyId"
                required
                minlength="22"
                maxlength="22"
            />
            <mat-progress-bar
                mode="indeterminate"
                color="accent"
                *ngIf="loading$ | async"
            ></mat-progress-bar>
        </div>
        <ng-container *ngIf="importingArtist">
            <mat-checkbox formControlName="importAlbums">Import albums</mat-checkbox>
            <mat-checkbox formControlName="importSimilarArtists"
                >Import similar artists</mat-checkbox
            >
        </ng-container>
        <p *ngIf="importingAlbum" trans>
            This will also import all artists that collaborated on this album or any tracks that it
            contains.
        </p>
        <ng-container *ngIf="importingTrack">
            <p trans>
                This will also import all artists that collaborated on this track as well as album
                track is attached to.
            </p>
            <mat-checkbox formControlName="importLyrics">Import lyrics</mat-checkbox>
        </ng-container>
        <p *ngIf="importingPlaylist" trans>Only public playlists can be imported.</p>
    </div>

    <mat-dialog-actions>
        <button (click)="close()" type="button" mat-button trans>Cancel</button>
        <button type="submit" mat-raised-button color="accent" [disabled]="loading$ | async" trans>
            Import
        </button>
    </mat-dialog-actions>
</form>
