@import "variables";

:host {
  display: block;
  padding: $page-margin;
  overflow-x: hidden;
}

:host-context(.center-channel-title) h1 {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.header-actions {
  margin-left: auto;

  .mat-icon {
    width: 34px;
    height: 34px;
  }
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  text-transform: capitalize;
  margin: 0;
}

.ads-general_top-host {
  margin-bottom: 30px;
}

.ads-general_bottom-host {
  margin-top: 30px;
}
