@import "../../../scss/variables";

.be-light-mode media-grid .media-grid-item .img-container img {
  box-shadow: 0 1px 6px rgba(25,25,34,.16);
}

media-grid {
  display: block;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  position: relative;

  .carousel-track {
    overflow: hidden;
  }

  &.carousel .media-grid-content {
    flex-wrap: nowrap;
    overflow: visible;
    transition: transform 0.6s ease-in-out;
  }

  .media-grid-content {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-arrows {
    position: absolute;
    right: 5px;
    top: -45px;

    .mat-icon {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }

  .media-grid-item {
    padding: 10px;
    flex: 0 0 100%;
    overflow: hidden;

    @media only screen and (min-width: 280px) {
      flex: 0 0 (100% / 2);
    }

    @media only screen and (min-width: $medium) {
      flex: 0 0 (100% / 3);
    }

    @media only screen and (min-width: $large) {
      flex: 0 0 (100% / 4);
    }

    @media only screen and (min-width: $xlarge) {
      flex: 0 0 (100% / 5);
    }

    .img-container {
      width: 100%;
      padding-top: 100%;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 4px;
        @include mat-elevation(5);
      }
    }
  }
}
