@import "../../../../scss/variables";

.material-table {
  table-layout: fixed;

  tr {
    height: 52px;
  }

  td, th {
    border-color: mat-color($app-foreground, divider-lighter);
  }
}

.cdk-drop-list-dragging tr {
  pointer-events: none;
}

tr.playing {
  color: mat-color($app-accent, default);

  .number-column, .like-column, .duration-column {
    color: inherit;
  }
}

tr:not(.header-row):hover {
  background: mat-color($app-background, hover);

  .track-options-button {
    visibility: visible;
  }
}

tr:hover, tr.playing {
  .number {
    display: none;
  }

  playback-control-button {
    display: flex;
    background-color: mat-color($app-foreground, base);
    color: mat-color($app-background, raised-button);
    margin: 0;
  }
}

.number-column, .like-column, .duration-column {
  width: 70px;
  color: mat-color($app-foreground, secondary-text);
}

.artist-column, .album-column {
  width: 20%;
}

artists-links-list, .album-link {
  display: block;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// align track number and play icon
th.number-column {
  padding-left: 35px;
}

.number {
  padding-left: 10px;
}

.options-column {
  width: 65px;
}

.track-options-button {
  visibility: hidden;
}

.name-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-image {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 15px;
  border-radius: 4px;
  vertical-align: middle;
}

.created-at-column {
  width: 140px;
}

loading-indicator {
  margin: 30px 0;
}

.selected {
  background-color: mat-color($app-background, hover);
}

.mobile {
  display: block;

  tr, td, tbody, thead, th {
    display: block;
    border: none;
  }

  tr {
    position: relative;
    height: auto;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 4px;
  }

  .name-column {
    padding-left: 0;
    font-size: 1.5rem;
    max-width: 80%;
  }

  .artist-column {
    font-size: 1.3rem;
    padding: 0;
    color: mat-color($app-foreground, secondary-text);
    width: auto;
    max-width: 85%;
    pointer-events: none;
  }

  .options-column {
    position: absolute;
    right: 0;
    top: 0;
    color: mat-color($app-foreground, secondary-text);

    .track-options-button {
      visibility: visible;
    }
  }
}

.popularity-column {
  width: 80px;
  text-align: center;

  .popularity-track {
    height: 6px;
    width: 100%;
    position: relative;
    background-color: mat-color($app-background, unselected-chip);
  }

  .popularity-track-inner {
    height: 100%;
    width: 0;
    background-color: mat-color($app-foreground, secondary-text);
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 1330px) {
  .track-image {
    display: none;
  }
}
