@import "../../../../scss/variables";

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: scale(1.01);

  &:before {
    position: absolute;
    content: "";
    background: linear-gradient(to bottom,transparent -80%, #1e1e26 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.media-page-header {
  color: #fff;

  .action-buttons {
    margin-bottom: 20px;
  }

  .mat-stroked-button {
    border-color: rgba(255,255,255,0.6);

    .mat-icon {
      margin-right: 5px;
    }
  }

  profile-follower-info {
    margin-bottom: 20px;
  }

  .header-image {
    width: 220px;
    height: 220px;
  }

  @media only screen and (max-width: $medium) {
    .nav-links {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    .nav-link {
      margin-bottom: 15px;
      margin-right: 22px;
      margin-left: 22px;
      padding-bottom: 5px;
    }
  }
}

.pro-badge {
  width: 20px;
  height: 20px;
  position: relative;
  top: -10px;
  background: mat-color($app-accent, default);

  .mat-icon {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin: auto;
  }
}

.header-content-wrapper {
  display: flex;
  flex: 1 1 auto;

  @media only screen and (max-width: $large) {
    display: block;

    .edit-buttons {
      display: none;
    }
  }

  .edit-buttons {
    margin-left: auto;
  }
}

.nav-links-wrapper {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  text-transform: capitalize;
}

.user-links {
  margin-left: auto;
  margin-bottom: 8px;
}

.user-link-image {
  display: inline-block;
  border-radius: 4px;
}

.header-subtitle {
  display: flex;
  color: currentColor;
  margin-bottom: 20px;

  .first-column {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid mat-color($app-foreground, divider);
  }

  .column-value {
    font-weight: 500;
    font-size: 1.4rem;
  }

  .column-title {
    font-size: 1.3rem;
    opacity: 0.7;
  }
}

.tab {
  padding: 0 20px;

  loading-indicator {
    margin: 30px 0;
  }
}

.no-results-message {
  margin: 30px 0;
}
