@import "variables";

:host {
  display: block;
  margin-bottom: 40px;
}

.album-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  min-width: 0;
}

media-image {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 4px;
}

.meta {
  flex: 1 1 auto;
  min-width: 0;

  @media only screen and (max-width: $medium) {
    .album-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.7rem;
    }
  }
}

.release-date {
  color: mat-color($app-foreground, secondary-text);
  margin: 4px 0 23px;
}

.album-name {
  display: block;
  font-size: 2.1rem;
  color: inherit;
}

.more-button {
  display: block;
  border-radius: 25px;
  min-width: 110px;
  background-color: mat-color($app-background, raised-button);
}
