@import "variables";

.edit-main-info {
  display: flex;

  .left-col {
    width: 220px;
    flex-shrink: 0;
    margin-right: 25px;

    .main-button {
      display: block;
      margin-top: 8px;
      width: 100%;
      line-height: 42px;

      .mat-icon {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .right-col {
    flex: 1 1 auto;
    min-width: 0;
  }

  @media only screen and (max-width: $medium) {
    display: block;

    .left-col {
      max-width: 220px;
      margin: auto;
      margin-bottom: 25px;
    }
  }
}
