<div class="datatable responsive-table">
    <datatable-header pluralResourceName="comments">
        <ng-container leftContent>
            <div class="title" headerActions trans>Comments</div>
        </ng-container>
        <button mat-raised-button color="accent" [matTooltip]="'Delete selected' | trans" (click)="maybeDeleteComments()" rightContent *ngIf="currentUser.hasPermission('comments.delete')" trans>Delete Selected</button>
        <ng-template #tableFilters>
            <comment-index-filters></comment-index-filters>
        </ng-template>
    </datatable-header>
    <table class="material-table">
        <thead>
        <tr>
            <th table-header-checkbox></th>
            <th trans>Content</th>
            <th table-sort-header="user_id" trans>User</th>
            <th table-sort-header trans>Created At</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let comment of comments$ | async">
            <td [table-body-checkbox]="comment.id"></td>
            <td data-label="Content">{{comment.content}}</td>
            <td>
                <user-column [user]="comment.user"></user-column>
            </td>
            <td data-label="Created At">{{comment.created_at | formattedDate}}</td>
            <td class="edit-column">
                <button mat-button color="warn" *ngIf="!comment.deleted" (click)="maybeDeleteComments(comment)" trans>Delete</button>
                <button mat-button color="accent" *ngIf="comment.deleted" (click)="restoreComment(comment)" trans>Restore</button>
            </td>
        </tr>
        </tbody>
    </table>
    <no-results-message svgImage="custom-discussion.svg" *ngIf="datatable.paginator.noResults$ | async">
        <span primary-text trans>No comments have been created yet</span>
    </no-results-message>
    <datatable-footer></datatable-footer>
</div>
