@import "variables";

:host {
  display: block;
}

.follower-row {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid mat-color($app-foreground, divider);
}

media-image {
  width: 65px;
  height: 65px;
  margin-right: 15px;
}

.meta {
  font-size: 1.5rem;

  .followers {
    color: mat-color($app-foreground, hint-text);
    margin-top: 5px;
  }

  .name {
    display: block;
    color: inherit;
  }
}

.follow-button {
  margin-left: auto;
  background-color: mat-color($app-background, raised-button);
  border-radius: 15px;
  min-width: 90px;
}
