@import "variables";

:host {
  display: block;
  width: 740px;
  max-width: 100%;
}

.flex-container {
  display: flex;
}

upload-image-control {
  margin-right: 15px;
}

.description-input {
  margin-bottom: 15px;
}

.many-inputs {
  flex: 1 1 auto;
}

.tab-body {
  padding: 20px 0;
}

@media only screen and (max-width: $medium) {
  .flex-container {
    display: block;

    upload-image-control {
      margin: 0 auto 15px;
    }
  }
}
