@import "variables";

:host-context(.be-light-mode) {
  .text-emphasis.on-dark-bg {
    background: rgba(0,0,0,0.4);
    color: #fff;
    opacity: 0.7;
  }
}

:host-context(.be-dark-mode) {
  .text-emphasis.on-dark-bg {
    background: rgba(0,0,0,0.1);
    color: #fff;
    opacity: 0.7;
  }
}

.text-emphasis {
  padding: 10px;
  border-radius: 4px;
  max-width: 700px;
  background: mat-color($app-background, background);
  color: mat-color($app-foreground, secondary-text);
}

.description-text {
  margin: 0;
  overflow: hidden;
}

.profile-location {
  margin-top: 20px;
}
