<div class="text-align-center">
    <mat-icon class="check-icon" svgIcon="check"></mat-icon>
</div>

<h1 trans>We've got your request</h1>

<ul>
    <li>Our support team will review it and send you an email within 3 days!</li>
    <li>Don't submit another request until you hear from us.</li>
    <li>If this artist profile is already claimed, ask an admin on your team to invite you.</li>
</ul>

<div class="backstage-action-buttons">
    <a routerLink="/" class="backstage-action-button" mat-flat-button color="accent" trans>Got It</a>
</div>
