@import "variables";

:host {
  display: block;
}

.bio-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;

  img {
    cursor: pointer;
    flex: 0 0 24%;
    height: 275px;
    width: 24%;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
  }
}

.bio-text {
  padding: 15px;
  background-color: mat-color($app-background, raised-button);
}

no-results-message {
  margin-top: 40px;
};
