<form class="header many-inputs material-panel" (ngSubmit)="submit()" [formGroup]="form">
  <mat-tab-group color="accent" animationDuration="0ms">
    <mat-tab [label]="'Details' | trans">
      <div class="many-inputs tab-content">
        <div class="input-container name-input-container">
          <label for="crupdate-channel-name" trans>Name</label>
          <input type="text" id="crupdate-channel-name" formControlName="name" required />
          <div class="error" *ngIf="errors.name">{{ errors.name }}</div>
        </div>

        <div class="input-container" *ngIf="!channel?.config?.lockSlug">
          <slug-control formControlName="slug"></slug-control>
          <div class="error" *ngIf="errors.slug">{{ errors.slug }}</div>
        </div>

        <ng-container formGroupName="config">
          <div class="input-container">
            <label for="channel-content-type" trans>Content</label>
            <select id="channel-content-type" formControlName="contentType">
              <option value="listAll" trans>List all content of specified type</option>
              <option value="manual" trans>Add content manually</option>
              <option value="autoUpdate" trans>
                Automatically update content with specified method
              </option>
            </select>
          </div>

          <div
            class="input-container"
            *ngIf="form.get('config.contentType').value === 'autoUpdate'"
          >
            <label for="crupdate-channel-auto-update">
              <span trans>Auto update method</span>
              <info-popover *ngIf="!settings.get('site.hide_docs_buttons')">
                <div class="title" trans>Auto update channel content</div>
                <div class="description" trans>
                  Select how this channel should be automatically updated.
                </div>
                <div class="link">
                  <mat-icon svgIcon="link"></mat-icon>
                  <a
                    href="https://support.vebto.com/help-center/articles/28/31/170/channels"
                    target="_blank"
                    >Learn more here.</a
                  >
                </div>
              </info-popover>
            </label>
            <div
              class="input-with-action"
              [class.hide-action]="!channel || !form.get('config.autoUpdateMethod').value"
            >
              <select id="crupdate-channel-auto-update" formControlName="autoUpdateMethod">
                <ng-container *ngFor="let method of autoUpdateMethods | keyvalue">
                  <option [value]="method.key" *ngIf="method.value.active">
                    {{ method.value.name }}
                  </option>
                </ng-container>
              </select>
              <input
                type="text"
                [placeholder]="valueName"
                formControlName="autoUpdateValue"
                *ngIf="getValueName() as valueName"
                required
                minlength="22"
                maxlength="22"
              />
              <button
                type="button"
                mat-flat-button
                color="accent"
                (click)="autoUpdateChanelContents()"
                [disabled]="loading$ | async"
                [matTooltip]="'Update channel content now' | trans"
              >
                <mat-icon svgIcon="refresh"></mat-icon>
              </button>
            </div>
            <p *ngIf="form.get('config.autoUpdateMethod').value" trans>
              Channel will only automatically update once a day.
            </p>
          </div>

          <div class="input-container">
            <label for="list-all-model" trans>Type of content</label>
            <select id="list-all-model" formControlName="contentModel">
              <option [value]="modelTypes.artist" trans>Artist</option>
              <option [value]="modelTypes.album" trans>Album</option>
              <option [value]="modelTypes.track" trans>Track</option>
              <option [value]="modelTypes.playlist" trans>Playlist</option>
              <option [value]="modelTypes.genre" trans>Genre</option>
              <option [value]="modelTypes.user" trans>User</option>
              <ng-container *ngIf="form.get('config.contentType').value === 'manual'">
                <option [value]="modelTypes.channel" trans>Channel</option>
                <option [ngValue]="null" trans>Multiple types</option>
              </ng-container>
            </select>
          </div>

          <div class="input-container">
            <label for="channel-content-order" trans>How to order content</label>
            <select id="channel-content-order" formControlName="contentOrder">
              <option
                value="popularity:desc"
                [disabled]="form.get('config.contentModel').value === modelTypes.user"
                trans
              >
                Most popular first
              </option>
              <option value="created_at:desc" trans>Most recently added first</option>
              <option
                [disabled]="form.get('config.contentModel').value !== modelTypes.album"
                value="release_date:desc"
                trans
              >
                Most recent first (by release date)
              </option>
              <option
                [disabled]="form.get('config.contentType').value === 'listAll'"
                value="channelables.order:asc"
                trans
              >
                Manual (reorder below)
              </option>
            </select>
          </div>

          <div
            class="input-container"
            *ngIf="form.get('config.contentModel').value !== modelTypes.channel"
          >
            <label for="crupdate-channel-layout" trans>Layout</label>
            <select id="crupdate-channel-layout" formControlName="layout">
              <option value="grid" trans>Grid</option>
              <option
                value="trackTable"
                [disabled]="form.get('config.contentModel').value !== modelTypes.track"
                trans
              >
                Track Table
              </option>
              <option
                value="trackList"
                [disabled]="form.get('config.contentModel').value !== modelTypes.track"
                trans
              >
                Track List
              </option>
            </select>
            <p *ngIf="form.get('config.layout').value === 'carousel'" trans>
              Carousel layout will only affect nested channels.
            </p>
          </div>

          <div class="setting-toggle-container">
            <mat-slide-toggle formControlName="hideTitle" trans>Hide name</mat-slide-toggle>
            <p trans>Whether name should be shown when displaying this channel on the site.</p>
          </div>

          <div class="setting-toggle-container">
            <mat-slide-toggle formControlName="carouselWhenNested" trans
              >Switch to Carousel</mat-slide-toggle
            >
            <p trans>
              Show content in carousel layout when this channel is nested under another channel.
            </p>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab [label]="'SEO' | trans">
      <div class="many-inputs tab-content" formGroupName="config">
        <div class="input-container">
          <label for="crupdated_channel_seo_title" trans>SEO Title</label>
          <input type="text" id="crupdated_channel_seo_title" formControlName="seoTitle" />
        </div>

        <div class="input-container">
          <label for="crupdate-channel_seo_description" trans>SEO Description</label>
          <textarea
            type="text"
            id="crupdate-channel_seo_description"
            formControlName="seoDescription"
            rows="6"
          ></textarea>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="primary-buttons">
    <button
      mat-raised-button
      class="action-button"
      type="submit"
      color="accent"
      [disabled]="loading$ | async"
      trans
    >
      Save
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading$ | async"></mat-progress-bar>
</form>

<div class="material-panel channel-content">
  <h2 trans>Channel Content</h2>

  <div class="input-container search-input-container">
    <label for="content-search" class="hidden" trans>Search for content</label>
    <div class="input-icon-container">
      <input
        type="text"
        [matAutocomplete]="contentAuto"
        id="content-search"
        [formControl]="searchControl"
        placeholder="Search for content to add..."
        trans-placeholder
      />
      <mat-icon svgIcon="search"></mat-icon>
    </div>
  </div>

  <mat-autocomplete
    #contentAuto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="attachContentItem($event.option.value)"
  >
    <mat-option *ngFor="let contentItem of searchResults$ | async" [value]="contentItem">
      <div class="mat-option-wrapper">
        <media-image [media]="contentItem"></media-image>
        <div class="multiple-lines">
          <div class="ellipsis">{{ contentItem.name || contentItem.display_name }}</div>
          <div class="secondary ellipsis">{{ contentItem.model_type }}</div>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>

  <div cdkDropListGroup>
    <div
      cdkDropList
      [cdkDropListEnterPredicate]="dropListEnterPredicate"
      (cdkDropListDropped)="dropListDropped()"
    ></div>
    <div class="content-grid">
      <div
        class="content-item content-grid-item"
        [class.channel-item]="isChannel(item)"
        cdkDropList
        [cdkDropListEnterPredicate]="dropListEnterPredicate"
        (cdkDropListDropped)="dropListDropped()"
        *ngFor="let item of channelContent$ | async"
      >
        <figure cdkDrag (cdkDragMoved)="dragMoved($event)">
          <div class="image-wrapper" [class.channel-bg-wrapper]="isChannel(item)">
            <ng-container *ngIf="isChannel(item)">
              <div class="channel-bg"></div>
              <div class="content-grid channel-content-grid">
                <div class="content-grid-item" *ngFor="let item of item.content?.data | slice: 0:5">
                  <div class="image-wrapper">
                    <media-image [media]="item"></media-image>
                  </div>
                </div>
              </div>
            </ng-container>

            <media-image [media]="item" *ngIf="!isChannel(item)"></media-image>

            <div class="action-buttons">
              <button
                class="action-button drag-action-button"
                type="button"
                cdkDragHandle
                mat-mini-fab
              >
                <mat-icon svgIcon="drag-handle"></mat-icon>
              </button>
              <button
                class="action-button"
                type="button"
                color="warn"
                (click)="detachContentItem(item)"
                [disabled]="detaching === item.id"
                mat-mini-fab
              >
                <mat-icon svgIcon="delete"></mat-icon>
              </button>
            </div>
          </div>
          <figcaption>
            <div class="content-item-name">{{ item.name }}</div>
            <div class="content-item-type" trans>{{ item.model_type }}</div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div
    class="auto-update-message no-results-message"
    *ngIf="form.get('config.contentType').value === 'autoUpdate'; else noResults"
  >
    <mat-icon class="icon" svgIcon="update"></mat-icon>
    <div class="text">
      <div class="main">Automatic Update</div>
      <div class="secondary">This channel content will be updated automatically.</div>
    </div>
  </div>

  <ng-template #noResults>
    <no-results-message *ngIf="!(channelContent$ | async)?.length">
      <span primary-text trans>Channel is empty</span>
      <span secondary-text trans>No content is attached to this channel yet.</span>
    </no-results-message>
  </ng-template>
</div>
