<h1 trans [transValues]="{sitename: settings.get('branding.site_name')}">Get Access to :sitename for Artists</h1>
<h2 trans>First, select the type of your request.</h2>

<div class="claim-row">
    <a class="claim-col" [routerLink]="[currentUserIsArtist ? 'verify-artist' : 'become-artist']">
        <div class="title" trans>
            <ng-container *ngIf="currentUserIsArtist">Get verified</ng-container>
            <ng-container *ngIf="!currentUserIsArtist">Become an artist</ng-container>
        </div>
        <img src="client/assets/images/backstage/claim-artist.jpg" alt="">
    </a>
    <a class="claim-col" routerLink="claim-artist">
        <div class="title" trans>Claim existing artist</div>
        <img src="client/assets/images/backstage/claim-label.jpg" alt="">
    </a>
</div>
