<div class="datatable responsive-table">
    <datatable-header pluralResourceName="tracks">
        <ng-container leftContent>
            <button mat-raised-button color="accent" [matMenuTriggerFor]="menu" trans>New Track</button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item routerLink="/admin/backstage/upload" *ngIf="currentUser.hasPermission('tracks.create')">
                    <mat-icon svgIcon="file-upload"></mat-icon>
                    <span trans>Upload</span>
                </a>
                <a mat-menu-item routerLink="/admin/backstage/tracks/new" *ngIf="currentUser.hasPermission('tracks.create')">
                    <mat-icon svgIcon="add"></mat-icon>
                    <span trans>Create Manually</span>
                </a>
                <button mat-menu-item *ngIf="settings.get('spotify_is_setup')" type="button" (click)="openImportMedialModal()">
                    <mat-icon svgIcon="sync"></mat-icon>
                    <span trans>Import</span>
                </button>
            </mat-menu>
        </ng-container>
        <button rightContent mat-raised-button color="accent" (click)="maybeDeleteSelectedTracks()" *ngIf="currentUser.hasPermission('tracks.delete')" trans>Delete Selected</button>
    </datatable-header>
    <table class="material-table">
        <thead>
        <tr>
            <th table-header-checkbox></th>
            <th trans>Track</th>
            <th trans>Artist</th>
            <th table-sort-header trans>Duration</th>
            <th table-sort-header="plays" trans>Plays</th>
            <th table-sort-header="updated_at" trans>Last Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let track of tracks$ | async">
            <td [table-body-checkbox]="track.id"></td>
            <td>
                <div class="column-with-image">
                    <media-image [media]="track" default="album"></media-image>
                    <a [routerLink]="urls.track(track)" class="link" target="_blank">{{track.name}}</a>
                </div>
            </td>
            <td data-label="Artist">
                <div class="column-with-image" *ngIf="track.artists[0] as artist">
                    <media-image [media]="artist" default="album"></media-image>
                    <a [routerLink]="urls.artist(artist)" class="link" target="_blank">{{artist.name}}</a>
                </div>
            </td>
            <td data-label="Duration">{{formatDuration(track.duration)}}</td>
            <td data-label="Plays">{{track.plays | number}}</td>
            <td>{{track.updated_at | formattedDate}}</td>
            <td class="edit-column">
                <button mat-icon-button (click)="openCrupdateLyricModal(track)" *ngIf="currentUser.hasPermission('lyrics.update')" [matTooltip]="'Edit lyrics' | trans">
                    <mat-icon svgIcon="closed-caption"></mat-icon>
                </button>
                <a mat-icon-button [routerLink]="urls.editTrack(track, true)"  *ngIf="currentUser.hasPermission('tracks.update')" [matTooltip]="'Edit track' | trans">
                    <mat-icon svgIcon="edit"></mat-icon>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <no-results-message svgImage="music.svg" *ngIf="datatable.paginator.noResults$ | async">
        <span primary-text>No tracks have been created yet</span>
    </no-results-message>
    <datatable-footer></datatable-footer>
</div>
