@import "variables";

:host {
  display: block;
  min-width: $modal-default-width;
  max-width: 100%;
}

.inline-container {
  display: flex;
  align-items: center;

  .mat-flat-button {
    min-height: 46px;
    min-width: 68px;
    flex: 0 0 68px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.import-button {
  margin-right: auto;
}
