@import "variables";

:host {
  display: block;
  width: 400px;
  max-width: 100%;
}

.spotify-id-container {
  position: relative;
}

.mat-progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
}

.mat-checkbox {
  display: block;
  margin-bottom: 6px;
}

p {
  color: mat_color($app-foreground, secondary-text);
  font-size: 1.3rem;
}
