@import "../../../../scss/variables";

player-controls {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: $wp-controls-height;
  background-color: mat-color($app-background, card);
  color: mat-color($app-foreground, text);
  border-top: 1px solid mat-color($app-foreground, divider);
  position: relative;

  button:hover {
    color: mat-color($app-foreground, secondary-text);
  }

  .lyrics {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 15px;
  }

  .lyrics-button-separator {
    width: 35px;
    height: auto;
  }

  .player-action {
    width: 35px;

    &.active {
      color: mat-color($app-accent, default);
    }

    mat-icon {
      width: $wp-controls-action-button-size;
      height: $wp-controls-action-button-size;
    }
  }

  player-seekbar {
    margin-left: 20px;
  }
}