<div class="modal-header">
    <h2 class="modal-title" mat-dialog-title>
        <span *ngIf="data.type === 'approve'" trans>Approve Request</span>
        <span *ngIf="data.type === 'deny'" trans>Deny Request</span>
    </h2>
    <button type="button" (click)="close()" class="close-button no-style" tabindex="-1">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<form (ngSubmit)="confirm()" [formGroup]="form">
    <div class="mat-dialog-contents" mat-dialog-content>

        <ng-container *ngIf="data.type ==='approve'">
            <p trans>Are you sure you want to approve this request?</p>
            <p class="bold" *ngIf="data.request.type === 'become-artist'" [transValues]="{user: data.request.user.display_name}" trans>This will create a new artist profile and assign it to :user, as well as give them artist role on the site.</p>
            <p class="bold" *ngIf="data.request.type === 'verify-artist'" [transValues]="{artist: data.request.artist.name}" trans>This will mark ":artist" as verified across the site.</p>
            <p class="bold" *ngIf="data.request.type === 'claim-artist'" [transValues]="{artist: data.request.artist.name, user: data.request.user.display_name}" trans>This will allow :user to edit :artist details and upload new music as them.</p>
            <mat-checkbox *ngIf="data.request.type === 'become-artist'" formControlName="verifyArtist">Also mark this artist as verified</mat-checkbox>
        </ng-container>

        <ng-container *ngIf="data.type ==='deny'">
            <p trans>Are you sure you want to deny this request?</p>
            <p class="bold" trans>This will mark request as denied and notify the requester.</p>
        </ng-container>
    </div>

    <div class="input-container">
        <label for="backstage-request-notes" trans>Notes (optional)</label>
        <textarea formControlName="notes" id="backstage-request-notes" rows="10" placeholder="Add any extra notes that should be sent to user via notification email" trans-placeholder></textarea>
    </div>

    <div class="buttons right mat-dialog-actions" mat-dialog-actions>
        <button (click)="close()" type="button" mat-button class="button cancel cancel-button" trans>Cancel</button>
        <button type="submit" mat-raised-button color="accent" class="button primary submit-button" cdkFocusInitial>
            <span *ngIf="data.type === 'approve'" trans>Approve</span>
            <span *ngIf="data.type === 'deny'" trans>Deny</span>
        </button>
    </div>
</form>
