@import "variables";

:host {
  display: block;
  min-width: 450px;
}

.bold {
  font-weight: 500;
}

p {
  font-size: 1.5rem;
}

label {
  color: mat-color($app-foreground, text);
}

.input-container {
  border-top: 1px solid mat-color($app-foreground, divider-lighter);
  padding-top: 20px;
  margin-bottom: 25px;
}
